<div class="article-meta">
  <a ui-sref="app.profile.main({ username:$ctrl.article.author.username })">
    <img src="assets/user.png" />
  </a>

  <div class="info">
    <a class="author"
      ui-sref="app.profile.main({ username:$ctrl.article.author.username })"
      ng-bind="$ctrl.article.author.username">
    </a>
    <span class="date"
      ng-bind="$ctrl.article.createdAt | date: 'longDate' ">
    </span>
  </div>

  <ng-transclude></ng-transclude>
</div>
