<div class="home-page">

    <!-- Splash banner that only shows when not logged in -->
    <div class="banner" show-authed="false">
        <div class="container">
            <h1 class="logo-font" ng-bind="::$ctrl.appName"></h1>
            <p>News Articles</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <ul class="nav nav-tabs nav nav-pills outline-active" id="homeTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="" ng-class="{ active: $ctrl.activeTab === 'Articles' }" id="articles-tab" ng-click="$ctrl.tabClick('Articles')">All Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="chart-tab" ng-class="{ active: $ctrl.activeTab === 'Chart' }" ng-click="$ctrl.tabClick('Chart')">Chart</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="tab-content col-md-12" id="tabcontent">
                <div class="tab-pane" ng-class="{ active: $ctrl.activeTab === 'Articles' }" id="home-panel">
                    <div class="container">
                        <article-list limit="10" list-config="{ type: 'all' }"></article-list>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{ active: $ctrl.activeTab === 'Chart' }" id="chart-panel" role="tabpanel">
                    <div class="container">
                        <h2>Top 10 Articles</h2>
                        <canvas id="bar"
                                height="300"
                                width="1000"
                                class="chart chart-bar" chart-click="$ctrl.onChartClick"
                                chart-data="$ctrl.data" chart-labels="$ctrl.labels"
                                chart-series="$ctrl.series"></canvas>


                    </div>
                </div>

            </div>
        </div>

    </div>
