<footer>
  <div class="container">
    <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName"></a>
    <span class="attribution">
      &copy; {{::$ctrl.date | date:'yyyy'}}.
      Adapted from the RealWord.IO project from <a href="https://thinkster.io">Thinkster</a>.
      Code licensed under MIT.
    </span>
  </div>
</footer>
