<nav class="navbar navbar-light">
    <div class="container">

        <a class="navbar-brand"
           ui-sref="app.home"
           ng-bind="::$ctrl.appName">
        </a>

        <!-- Show this for logged out users -->
        <ul show-authed="false"
            class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.home">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.about">
                    About
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.contact">
                    Contact
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.login">
                    Sign in
                </a>
            </li>

            <!-- Disable sign-up for the demo

                <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.register">
                    Sign up
                </a>
            </li>-->

        </ul>

        <!-- Show this for logged in users -->
        <ul show-authed="true"
            class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.home">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.about">
                    About
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.contact">
                    Contact
                </a>
            </li>

            <!-- PJ Hide New Article from Employees -->
            <li class="nav-item" ng-hide="!$ctrl.isPublisher">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.editor">
                    <i class="ion-compose"></i>&nbsp;New Article
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.settings">
                    <i class="ion-gear-a"></i>&nbsp;Settings
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   ui-sref-active="active"
                   ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
                    <img src="assets/user.png" class="user-pic" />
                    {{ $ctrl.currentUser.username }}   {{ $ctrl.isPublisher ? '(publisher)' : ''}}
                </a>
            </li>
            <li class="nav-item">
                <button class="btn btn-small btn-outline-danger" ng-click="$ctrl.logout()">
                    logout
                </button>
            </li>
        </ul>
    </div>
</nav>
