﻿<div class="article-page">

    <div class="banner">
        <div class="container">

            <h1>Contact</h1>

        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div class="col-xs-12">

                <div>
                    <p>
                        This is another pages of static dummy content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit lorem tincidunt metus consequat, a laoreet libero bibendum. Vestibulum pharetra placerat massa, quis suscipit turpis ultrices vitae. Sed non fringilla tellus, ut sodales quam. Ut sodales leo dui, id blandit libero sollicitudin ac. Ut auctor augue eu nisl fermentum ultrices sed ac metus. Curabitur sit amet rhoncus neque, nec euismod orci. Nulla facilisi. Mauris rutrum dictum felis.
                    </p>
                    <p>
                        Ut et enim in leo mollis feugiat. Suspendisse metus nunc, pharetra non eros nec, porttitor commodo diam. Nunc dignissim venenatis turpis, at placerat neque sagittis cursus. Aliquam ac gravida velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla sit amet rutrum elit. Integer mollis odio rutrum nibh aliquam euismod.
                    </p>
                    <p>
                        Nulla ultrices ullamcorper odio id rhoncus. Aliquam faucibus, urna a ultricies lacinia, magna lacus laoreet tortor, eu dictum massa nibh nec odio. Proin varius diam ut scelerisque volutpat. Suspendisse erat sapien, luctus non dapibus interdum, fringilla non sapien. Morbi facilisis augue egestas risus condimentum ultrices. Sed mauris justo, vehicula quis tempor vitae, ornare et quam. In hac habitasse platea dictumst.
                    </p>
                </div>

            </div>
        </div>

    </div>

</div>
